<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kiosco" connectionString="Provider=SQLNCLI11;Data Source=SANDROID-WIN10;Integrated Security=SSPI;Initial Catalog=Kiosco"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>